<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :姓名 %>
    <%= form.text_field :Name, id: :order_Name %>
  </div>

  <div class="field">
    <%= form.label :電話 %>
    <%= form.text_field :Tel, id: :order_Tel %>
  </div>

  <div class="field">
    <%= form.label :餐點 %>
    <%= form.text_field :Dish, id: :order_Dish %>
  </div>

  <div class="field">
    <%= form.label :價格 %>
    <%= form.number_field :Price, id: :order_Price %>
  </div>

  <div class="field">
    <%= form.label :數量 %>
    <%= form.number_field :Number, id: :order_Number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
